@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap");
html {
  background: rgb(10, 15, 32);
  color: 131e36;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  background: #fefaf5;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  background: #fefaf5;
  margin: 0;
  text-align: center;
  padding: 50px;
}

.header {
  position: relative;
  background: #1e3850;
  opacity: 1;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 150px;
}

.logo {
  position: relative;
  text-align: center;
  width: 100%;
  top: 25px;
}
.logo img {
  width: 260px;
}

.contactTopbar {
  position: absolute;
  top: 55px;
  right: 150px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.footer {
  text-align: center;
  background: #183454;
  padding: 50px;
}

.theForm {
  position: relative;
}

.theForm h1 {
  font-family: "Playfair Display";
  font-weight: 300;
  line-height: 40px;
  font-size: 36px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.theForm form {
  text-align: center;
}

.theForm input {
  margin-top: 15px;
  height: 45px;
  padding-left: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.495);
  border: 1px solid #183453;
  border-radius: 4px;
}

.theForm .sbmtbtn {
  background-color: #183453 !important;
  color: white;
  font-size: 16px;
}

sbmtbtn .theForm label {
  color: #1e3850;
  font-weight: 400;
  font-size: 19px;
  font-family: Lato;
}

.leftAligned {
  text-align: left;
}

@media screen and (max-width: 750px) {
  h2 {
    line-height: 40px;
    color: #1e3850;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.88px;
  }
  .logo {
    position: absolute;
    width: 120px;
    top: 15px;
    left: 50%;
    margin-left: -60px;
  }
  .contactTopbar {
    position: absolute;
    top: 125px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
  }
  .box {
    background: #fefaf5;
    margin: 0;
    text-align: center;
    padding: 20px;
  }
}
.packageData {
  background: #fefaf5;
  padding: 35px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

h4 {
  position: relative;
  font-weight: 600;
  text-align: right;
  font-size: 25px;
  letter-spacing: 0.88px;
}

h2 {
  line-height: 30px;
  color: #1e3850;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.88px;
  text-align: center;
}
h2 span {
  font-weight: 300;
}

.guestSelection {
  padding-top: 10px;
  display: flex;
  column-gap: 10px;
}

.guestSelection div {
  width: 100%;
}
.guestSelection label {
  font-size: 12px;
}

.addonsClass p {
  display: flex;
}

.addonsClass img {
  cursor: pointer;
  width: 20px;
  margin-right: 10px;
}
